@import "./variables.css";
@import "tailwindcss";

html,
body {
  background-color: var(--bgColor);
}

.main-font {
  text-align: center;
  font-family: "DM Sans";
  font-style: normal;
  line-height: 1.2rem; /* 120% */
}

.carousel-font {
  font-family: "Libre Baskerville";
  font-style: normal;
  line-height: normal;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scroll {
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
